.flex-contenedor {
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}

.flex-1 {
    background-color: red;
    height: 300px;
    width: 300px;
    font-size: 50px;
    color: white;
}
.flex-2 {
    background-color: blue;
    height: 300px;
    width: 300px;
    font-size: 50px;
    color: white;
    
}
.flex-3 {
    background-color: green;
    height: 300px;
    width: 300px;
    font-size: 50px;
    color: white;
    
}