h1 {
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
}

.foto {
    border-radius: 50%;
    border: 5px solid yellow;
}

h2 {
    color: green;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 3.5em;
}

.informacion {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}